*{
  padding: 0;
  
  margin: 0;
}

@font-face {
  font-family: 'FigtreeBlack';
  src: url('./fonts/FigtreeBlack.ttf') format('truetype');
  }

@font-face {
  font-family: 'FigtreeLight';
  src: url('./fonts/FigtreeLight.ttf') format('truetype');
  
}
@font-face {
  font-family: 'FigtreeRegular';
  src: url('./fonts/FigtreeRegular.ttf') format('truetype');
  
}
@font-face {
  font-family: 'FigtreeMedium';
  src: url('./fonts/FigtreeMedium.ttf') format('truetype');
  }
html{
  scroll-behavior: smooth;
}
body{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  overflow-x:hidden ;
  
}
body::-webkit-scrollbar {
  width: 10px;
  
}
body::-webkit-scrollbar-track {
  background-color: #393831;
}
body::-webkit-scrollbar-thumb {
  background-color: #efcb09;
}



#root{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App{
  width: 100%;
  transition: all 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainBgContainer{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

}

a{
  cursor: pointer;
  color: unset;
  text-decoration: none;
}

h1{
  font-family: 'FigtreeBlack';
  color: #393831;
  font-size: 3rem;
}

span{
  font-family: 'FigtreeBlack';
  color: #efcb09;
}

p{
  font-family: 'FigtreeLight';
  color: #393831;
  font-size: 25px;
}