.BuildStatus{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4vw;

}
.BuildStatusTitle{
    width: 100%;
    background-color: #393831;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}
.BuildStatusTitle h1{
    color: white;
    font-size: 2.8rem;
    text-align: center;
}

.statusHere{
    width: 90%;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
    justify-content: center;

}
.StatuParameter{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 30px;
}
.ParameterBar{
    position: relative;
    
}
.StatuParameter p{
    margin-bottom: 10px;
    font-size: 28px;
}
.ParameterBar p{
    font-size: 20px;
}
.Progress{
    width: 100%;
    background-color: #929191;
    height: 6px;
    z-index: -1;
    top: 0;
    border-radius: 0px 0px 30px 30px;
    position: absolute;
}
.StatusProgress{
    background-color:#efcb09;
    z-index: 2;
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: end;
    height: 12px;
    border-radius: 0px 0px 30px 30px;

}
.StatusProgress p{
    margin-bottom: -40px ;
}


